#this is a valid configuration file 
#The following variables don’t have default values and must be set 
spImagesDirectory = ./images/ 
spImagesPrefix=img 
spImagesSuffix =.jpg
spNumOfImages= 15
#the following variables have default values, if not set the default value is choosen 
spPCADimension = 15
spPCAFilename = pca.yml 
spNumOfFeatures = 1000
spExtractionMode = false 
spMinimalGUI = false
spNumOfSimilarImages = 5
spLoggerFilename = stdout
spKNN = 5
